In [1]:
import pandas
import numpy


# set appropriate options for pandas
pandas.set_option('display.max_rows', 20)

In [4]:
# load the dataset into the workspace
data = pandas.read_csv('./datasets/Sales_Transactions_Dataset_Weekly.csv')
data.tail()

,Product_Code,W0,W1,W2,W3,W4,W5,W6,W7,W8,...,Normalized 42,Normalized 43,Normalized 44,Normalized 45,Normalized 46,Normalized 47,Normalized 48,Normalized 49,Normalized 50,Normalized 51
806,P815,0,0,1,0,0,2,1,0,0,...,0.00,0.33,0.33,0.00,0.00,0.33,0.00,0.00,0.67,0.00
807,P816,0,1,0,0,1,2,2,6,0,...,0.43,0.43,0.57,0.29,0.57,0.71,0.71,0.71,0.86,0.71
808,P817,1,0,0,0,1,1,2,1,1,...,0.50,0.00,0.00,0.50,0.50,0.00,0.00,0.00,1.00,0.75
809,P818,0,0,0,1,0,0,0,0,1,...,0.00,0.00,0.00,0.50,0.50,0.00,0.00,0.00,1.00,0.00
810,P819,0,1,0,0,0,0,0,0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.33

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
data.dtypes

In [ ]:
# let's see what we have here?!
data.columns

In [ ]:
data_ = data.iloc[:, 55:]
data_['Product_Code'] = data['Product_Code']

# use the first column as label
X = data_.iloc[:, :-1]
Y = data_['Product_Code'].values

data_

In [ ]:
model = KMeans(n_clusters=30, random_state=0)
model.fit(X)
cluster_ids = model.predict(X)
model

In [ ]:
cluster_ids

In [ ]:
cluster_ids, len(cluster_ids)

In [ ]:
from six.moves import zip

from bokeh.plotting import figure, show, output_file

x = numpy.array([i for i in range(0, len(Y))]).astype(int)
y = cluster_ids

radii = numpy.random.random(size=len(y))*20
colors = ["#%02x%02x%02x" % (int(r), int(g), 150) for r, g in 
          zip(numpy.floor(50+3*x), numpy.floor(30+3*y))]

TOOLS = "crosshair,pan,wheel_zoom,box_zoom,reset,"
"tap,previewsave,box_select,poly_select,lasso_select"

output_file("/tmp/cluster1.html", title="cluster plot example")

p = figure(tools=TOOLS, width=1200, height=1200)
p.scatter(x, y, radius=radii, fill_color=colors, 
          fill_alpha=0.6, line_color=None)

show(p)

In [ ]:
import numpy as np

from bokeh.plotting import figure, show, output_file
from bokeh.models import HoverTool, ColumnDataSource
from bokeh.sampledata.les_mis import data

nodes = data['nodes']
names = [node['name'] for node in sorted(data['nodes'], key=lambda x: x['group'])]

N = len(nodes)
counts = np.zeros((N, N))
for link in data['links']:
    counts[link['source'], link['target']] = link['value']
    counts[link['target'], link['source']] = link['value']

colormap = ["#444444", "#a6cee3", "#1f78b4", "#b2df8a", "#33a02c", "#fb9a99",
            "#e31a1c", "#fdbf6f", "#ff7f00", "#cab2d6", "#6a3d9a"]

xname = []
yname = []
color = []
alpha = []
for i, node1 in enumerate(nodes):
    for j, node2 in enumerate(nodes):
        xname.append(node1['name'])
        yname.append(node2['name'])

        alpha.append(min(counts[i,j]/4.0, 0.9) + 0.1)

        if node1['group'] == node2['group']:
            color.append(colormap[node1['group']])
        else:
            color.append('lightgrey')

source = ColumnDataSource(data=dict(
    xname=xname,
    yname=yname,
    colors=color,
    alphas=alpha,
    count=counts.flatten(),
))

p = figure(title="Les Mis Occurrences",
           x_axis_location="above", tools="hover,save",
           x_range=list(reversed(names)), y_range=names)

p.plot_width = 800
p.plot_height = 800
p.grid.grid_line_color = None
p.axis.axis_line_color = None
p.axis.major_tick_line_color = None
p.axis.major_label_text_font_size = "5pt"
p.axis.major_label_standoff = 0
p.xaxis.major_label_orientation = np.pi/3

p.rect('xname', 'yname', 0.9, 0.9, source=source,
       color='colors', alpha='alphas', line_color=None,
       hover_line_color='black', hover_color='colors')

p.select_one(HoverTool).tooltips = [
    ('names', '@yname, @xname'),
    ('count', '@count'),
]

output_file("les_mis.html", title="les_mis.py example")

show(p) # show the plot

In [ ]:
data